<div class="footer">
        <div class="footer-nav">
            <div class="main-container">
                <span class="footer-crumbs">
                    <a href="#">首页</a>
                </span>
                <span class="crumbs-split">|</span>
                <span class="footer-crumbs">
                    <a href="#">公开招聘</a>
                </span>
                <span class="crumbs-split">|</span>
                <span class="footer-crumbs">
                    <a href="#">专项招聘</a>
                </span>
                <span class="crumbs-split">|</span>
                <span class="footer-crumbs">
                    <a href="#">柔性引才</a>
                </span>
                <span class="crumbs-split">|</span>
                <span class="footer-crumbs">
                    <a href="#">业务承揽</a>
                </span>
                <span class="crumbs-split">|</span>
                <span class="footer-crumbs">
                    <a href="#">意向人员库</a>
                </span>
            </div>
        </div>
        <div class=" footer-copyright">
            <div class="container">
                <span>Copy©2011&nbsp;中国石油化工集团版权所有</span>
                <span class="crumbs-split"></span>
                <span>监督举报邮箱(Email):
                <a href="mailto:job@sinopec.com">job@sinopec.com</a>
            </span>
            </div>
        </div>
    </div>