    <div class="head">
        <div class="main-container">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <span>欢迎你，xxx公司</span>
                        <span>张慧敏</span>
                    </div>
                    <div class="nav navbar-nav navbar-right">
                        <span class="crumbs">设置</span>
                        <span class="crumbs-split">|</span>
                        <span class="crumbs message">
                            站内消息
                            <span class="message-num">5</span>
                        </span>
                        <span class="crumbs-split">|</span>
                        <span class="crumbs">退出</span>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="sn-nav">
        <div class="main-container">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <img alt="logo" src="../images/logo.png">
                        </a>
                    </div>
                    <p class="navbar-text sn-nav-title">
                        人员流动配置
                    </p>
                    <p class="navbar-text sn-nav-menu">
                        <a href="#">公开招聘</a>
                    </p>
                    <p class="navbar-text sn-nav-menu">
                        <a href="#" class="active">专项招聘</a>
                    </p>
                    <p class="navbar-text sn-nav-menu">
                        <a href="#">柔性引才</a>
                    </p>
                    <p class="navbar-text sn-nav-menu">
                        <a href="#">业务承揽</a>
                    </p>
                    <p class="navbar-text sn-nav-menu">
                        <a href="#">人才意向库</a>
                    </p>
                </div>
            </nav>
        </div>
    </div>